/* Set a background image by replacing the URL below */
body {
    background: url('https://source.unsplash.com/user/gambirela/likes/1200x800') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

